body, html {
    display: flex;
    background-color: red;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    
    align-items: center;
}

.mainContainer {
    display: flex;
    width: 600px;
    height: 370px;
    flex-wrap: wrap;
    background-color: white;
    gap: 0;
    padding: 0;
    border: 0;
}

.pixel {
    background-color: white;
    margin: 0;
    border: 0;
}

.black {
    background-color: black;
}

.reset {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 20px;
    border: 2px black solid;
    border-radius: 5%;
    box-shadow: inset;
    
}

.red {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: blue;
}