body {
    display: flex;
    background-color: rgb(238, 110, 5);
    flex-direction: column;
    margin: 0;
    height: 130vh;
    align-items: center;
}

.mainContainer {
    display: flex;
    width: 450px;
    height: 450px;
    flex-wrap: wrap;
    background-color: white;
    gap: 0;
    padding: 0;
    border: 0;
   
}

h1 {
    font-size: 50px;
}

.pixel {
    background-color: white;
    margin: 0;
    border: 0;
    margin: 0px;
}

.black {
    background-color: black;
}

.reset {
    margin-top: 0 px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 20px;
    border: 2px black solid;
    border-radius: 5%;
    box-shadow: inset;
    
}

.red {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: blue;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    display: flex;
    width: 450px;
    height: 450px;
    border: 10px black solid;

}

.mainContainer, .border {
    height: 530px;
    width: 700px;
}